/*tablets*/
@media (min-width: 641px) {
    .main,footer {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .navbar-brand {
        width: 100px !important;
    }

    .lg-nav li {
        padding-left: 0px;
        padding-right: 0px;  
    }
    .hero_wrapper h2, .statistics_banner h1 {
        font-weight: 900;
        font-size: 45px;
        line-height: 58px;
    }
    .statistics_banner .stats_single .card .top_heading_wrap .number {
        font-size: 62px;
    }
    .funded_companies .company_single .company_info .company-data {
        margin-bottom: 20px;
    }
}
/*laptops,tablets*/
@media (max-width: 961px) {
    
    .funded_companies .company_single .company_action {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 20px;
        padding-left: 120px;
        margin-top: 20px;
    }
    .funded_companies .company_single .company_info {
        flex: 0 0 calc(100% - 105px);
        max-width: calc(100% - 105px);
    }
    .funded_companies .company_single .company_info .company-data {
        max-width: 50%;
        flex-basis: auto;
        margin-bottom: 15px;
    }
}
@media (min-width: 961px) {
    .main,footer {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .lg-nav li {
        padding-left: 10px;
        padding-right: 10px;
    }
}
/*desktop*/
@media (min-width: 1025px) {
    .main,footer {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }

    .lg-nav li {
        padding-left: 15px;
        padding-right: 15px;
    }
    .funded_companies .company_single .company_info .company-data .data.small {
        font-size: 20px;
    }
}
